##### 2 - Create a markdown cell with the title of the notebook.

Test_Notebook

##### 3 - Create a markdown cell for an introduction.

This is my Notebook for IBM's "Tools for Data Science" course on Coursera.

##### 4 - Create a markdown cell to list data science languages.

Python, R, SQL, Julia, Java etc

##### 5 - Create a markdown cell to list data science libraries.

Numpy, matplotlib, scikit-learn, pandas, tensorflow etc.

##### 6 - Create a markdown cell with a table of Data Science tools.

RStudio, Apache Spark, Hadoop, Jupyter Notebook/Lab etc.

##### 7 - Create a markdown cell introducing arithmetic expression examples

3+6=9; 
12+15=27; 
1+1=2

##### 8 - Create a code cell to multiply and add numbers.

In [39]:
x=int(input('Enter x:'))
y=int(input('Enter y:'))
print(f'{x}*{y}={x*y}')
print(f'{x}+{y}={x+y}')

Enter x: 5
Enter y: 4

5*4=20
5+4=9

##### 9 - Create a code cell to convert minutes to hours

In [49]:
min=int(input('Enter minutes:'))
hours=min/60
print(hours, 'hour(s).')

Enter minutes: 180

3.0 hour(s).

##### 10 - Insert a markdown cell to list Objectives.

## Objectives
* ### obj1
* ### obj2
* ### obj3

##### 11 - Create a markdown cell to indicate the Authorâ€™s name.

My name is Baltaev Ruslan.